<h1>List of cocktails</h1>

<% @cocktails.each do |cocktail| %>
<h2> <%= cocktail.name %> </h2>
<%= link_to "Cocktail details", cocktail_path(cocktail), {  class: "btn btn-primary" } %>
<% end %>

<h1> <%= link_to "Create new cocktail", new_cocktail_path, {  class: "btn btn-primary" } %> </h1>
